# HTML отчеты
*.html

# Файлы окружения
.env

# Базы данных
*.db
*.sqlite
*.sqlite3

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Виртуальные окружения
venv/
env/